.btn {
  cursor: pointer;
  border-radius: 6px;
  padding: 19px;

  &.btn-primary {
    color: #ffffff;
    background-color: #000000;
  }

  &.btn-secondary {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
  }
}

.btn-custom{
    width: calc(100% - 32px);
    margin: 8px 16px;
}

