:root {
  --primaryColor: #009688;
  --secondaryColor: #616161;
  --primaryBgColor: #f1f1f1;
  --secondaryBgColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: var(--primaryBgColor);
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  color: black;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  display: flex;
}

aside {
  width: 20%;
  height: 100vh;
  padding-top: 2rem;
  background-color: var(--secondaryBgColor);
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin-bottom: 2rem;
  margin-left: 1.2rem;
}

aside h3,
p,
li {
  padding: 10px 1.2rem;
}

.portfolio {
  color: var(--primaryColor);
}

.portfolio:hover {
  color: black;
}

aside a {
  margin-left: 20px;
}

aside ul li:hover {
  background-color: #cccccc;
  cursor: pointer;
  color: black;
}

aside section {
  padding: 10px 1.2rem;
}

aside section i:hover {
  opacity: 60%;
}

main {
  width: 80%;
  height: 100vh;
  padding: 0 1.2rem;
  overflow-y: scroll;
}

main h1 {
  padding: 1.2rem 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.label {
  margin-block: 1.2rem;
}

.itemLabel:hover {
  background-color: #cccccc;
  cursor: pointer;
  color: black;
}

.itemLabel {
  padding: 10px;
  margin-block: 50px;
  background-color: var(--secondaryBgColor);
}

.isActive {
  background-color: black;
  color: var(--secondaryBgColor);
}

.itemLabel i {
  margin-right: 10px;
}

main hr {
  border: 3px solid #cccccc;
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.card {
  width: 32.7%;
  background-color: var(--secondaryBgColor);
}

.card-image {
  width: 100%;
}

.card-image:hover {
  opacity: 60%;
}

.card-title {
  font-weight: bold;
}

.pageNumber {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.itemPageNumber {
  padding: 1rem;
  font-size: 0.8rem;
}

.itemPageNumber:hover {
  color: var(--secondaryBgColor);
  background-color: black;
  cursor: pointer;
}

.aboutMe{
  margin-block: 50px;
}

.myImageAboutMe {
  width: 49%;
  height: 400px;
}

.aboutMeContainer {
  margin: 20px 0;
}

.aboutMeContainer p{
  margin: 1.5rem 0;
  padding: 0;
}

.skillList {
  margin-bottom: 20px;
}

.skillList h3 {
  margin-bottom: 20px;
}

.skill h4 {
  padding-block: 1rem;
}

.photography {
  display: flex;
}

.photography .skillPercent {
  width: 95%;
  padding-block: 8px;
  background-color: var(--secondaryColor);
  text-align: center;
  font-size: large;
  color: var(--secondaryBgColor);
}
.photography .percentComplete {
  width: 5%;
  background-color: #9e9e9e;
}

.webDesign {
  display: flex;
}

.webDesign .skillPercent {
  width: 85%;
  padding-block: 8px;
  background-color: var(--secondaryColor);
  text-align: center;
  font-size: large;
  color: var(--secondaryBgColor);
}

.webDesign .percentComplete {
  width: 15%;
  background-color: #9e9e9e;
}

.photoshop {
  display: flex;
}

.photoshop .skillPercent {
  width: 80%;
  padding-block: 8px;
  background-color: var(--secondaryColor);
  text-align: center;
  font-size: large;
  color: var(--secondaryBgColor);
}

.photoshop .percentComplete {
  width: 20%;
  background-color: #9e9e9e;
}

.btnResume {
  padding: 15px;
  margin: 40px 0;
  background-color: var(--secondaryColor);
  color: var(--secondaryBgColor);
  font-size: large;
  border: none;
}

.btnResume i{
  margin-right: 20px;
}

.btnResume:hover{
  color: black;
  background-color: #cccccc;
  cursor: pointer;

}

.plans {
  margin: 20px 0;
}

.plan {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.itemPlan {
  width: 33%;
  border: 1px solid #cccccc;
  text-align: center;
}

.itemPlan p {
  padding: 20px 0;
  border: 1px solid #cccccc;
  background-color: var(--secondaryBgColor);
  color: #cccccc;
}

.itemPlanTitle {
  text-align: center;
  padding: 40px 0;
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--secondaryBgColor);
  font-weight: bold;
  font-size: large;
}

.price {
  text-align: center;
  padding: 20px 0;
  border: 1px solid #cccccc;
  background-color: var(--secondaryBgColor);
}

.price h5 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
}

.itemColor {
  background-color: var(--primaryColor);
}

.itemColordark{
  background-color: var(--secondaryColor);
}

.btnPlan {
  padding: 15px;
  font-size: large;
  margin: 20px auto;
  color: var(--secondaryBgColor);
  background-color: var(--primaryColor);
  border: none;
}

.contactMe {
  background-color: #9e9e9e;
  padding: 10px 0;
}

.contactMeHeader {
  display: flex;

}

.contactMe h4{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 0;
}

.itemcontactMeHeader {
  width: 33%;
  text-align: center;
  padding: 10px 0;
  color: var(--secondaryBgColor);
}

.contactMe form input {
  width: 100%;
  padding: 5px 0;
  margin: 5px 5px 5px 0;
  font-size: 1.5rem;
}

.btnForm {
  border: none;
  font-size: 1rem;
  padding: 15px;
  color: var(--secondaryBgColor);
  background-color: black;
  margin: 10px 0;
}

.btnForm:hover{
  color: black;
  background-color: #cccccc;
  cursor: pointer;
}

.btnForm i {
  margin: 0 20px 0 0;
}

.mainFooter {
  background-color: var(--secondaryColor);
  color: var(--secondaryBgColor);
  display: flex;
  padding: 50px 0;
  gap: 20px;
}

.mainFooter hr{
  margin: 10px 0;
}

.subFooter {
  width: 33%;
}

.footerImage {
  width: 60px;
  height: 60px;
}

.blogFooter {
  display: flex;
}

.tagFooter {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  color: black;
  margin-top: 20px;
}

.tagFooter span {
  background-color: var(--primaryBgColor);
  padding: 3px 5px;
  font-size: 0.8rem;
}

.copyWrite{
  background-color: black;
  text-align: center;
  color: var(--secondaryBgColor);
  padding: 20px 0;
}
