.btn {
  &-lg {
    padding: 15px;
    margin: 40px 0;
    background-color: $secondaryBgColor;
    color: $lightColor;
    font-size: large;
    border: none;
    cursor: pointer;

    &:hover {
      color: $darkColor;
      background-color: $tertiaryColor;
    }
  }

  &-md{
    padding: 15px;
  font-size: large;
  margin: 20px auto;
  color: $lightColor;
  background-color: $primaryColor;
  border: none;
  }
}
