.card {
  width: 33.3333%;
  background-color: $lightColor;

  &-image {
    width: 100%;
    &:hover {
      opacity: 60%;
    }
  }

  &-title {
    font-weight: bold;
    padding: 0 1rem;
  }

  &-article{
    padding: 0 1rem;
  }
}
