.hamburger-menu{
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    transition: transform 1s;
    

    
        span{
        width: 40px;
        border: 3px solid $darkColor;
        border-radius: 5px;
        transform-origin: left;
        transition: all 1s 0.5s;
        
    
}

}