//Variables

//Colors
$primaryColor : #009688;
$secondaryColor : #616161;
$tertiaryColor : #cccccc;
$darkColor : #000000;
$lightColor : #ffffff;
$primaryBgColor : #f1f1f1;
$secondaryBgColor : #9E9E9E;

//fonts
$mainFont : Arial, Helvetica, sans-serif;