.aboutMe {
  margin-block: 50px;
  padding-left: 1.2rem;

  &-img {
    width: 49%;
    height: 400px;

    @media screen and (max-width : 600px) {
      width: 100%;
    }
  }

  &-container {
    margin: 20px 0;

    p {
      margin: 1.5rem 0;
      padding: 0;
    }
  }

  &-skillList {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 20px;
    }

    &-skills {
      h4 {
        padding-block: 1rem;
      }
    }
  }

  .skills-photography {
    @include displayFlex;

    .skillPercent {
      @include percentComplete(95%);
    }

    .percentComplete{
      @include percentLeftOver(5%);
    }
  }
}

.skills-webDesign{
  @include displayFlex;

    .skillPercent {
      @include percentComplete(85%);
    }

    .percentComplete{
      @include percentLeftOver(15%);
    }
}

.skills-photoshop{
  @include displayFlex;

    .skillPercent {
      @include percentComplete(80%);
    }

    .percentComplete{
      @include percentLeftOver(20%);
    }
}
