.footer {
  background-color: $secondaryColor;
  color: $lightColor;
  display: flex;
  padding: 50px 0;
  gap: 20px;

  .subfooter {
    width: 33%;

    .footerImage {
        width: 60px;
        height: 60px;
      }

    .blogfooter {
      @include displayFlex;
    }

    .tagfooter {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
      color: $darkColor;
      margin-top: 20px;

      span {
        background-color: $primaryBgColor;
        padding: 3px 5px;
        font-size: 0.8rem;
      }
    }
  }
}
