.portfolio {
  padding: 0 1.2rem;

  h1 {
    padding: 1.2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &-label {
    margin-block: 1.2rem;

    &-itemLabel {
      padding: 10px;
      margin-block: 50px;
      background-color: $lightColor;

      &.isActive {
       @include isActive;
      }

      &:hover {
        background-color: $tertiaryColor;
        cursor: pointer;
        color: black;
      }
    }
  }

  &-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
  }
}
