* {
    margin: 0;
    padding: 0;
}
body {
    width: 75%;
    margin: 0 auto;
}

.box {
    background-color: #FFF7AB;
    width: 500px;
    height: 650px;
    border: 3px solid #CC3100;
    padding-left: 20px;
    padding-top: 20px;
    margin: 5px auto;
}

.img {
    width: 357px;
    height: 183px;
    margin-bottom: 20px;
    border: 5px outset #FFD700;
    margin-top: 20px;
    
    
}

.section {
    overflow-y: scroll;
    border: 5px dashed #FF9900;
    background-color: #FFFF00;
    width: 357px;
    height: 281px ;
    
}

.link {
    margin-top: 20px;
}
